.aura__card {
  padding: 1em;
}
.MuiPaper-root.aura__card-radius-small {
  border-radius: 0.5em;
}
.MuiPaper-root.aura__card-radius-medium {
  border-radius: 1em;
}
.MuiPaper-root.aura__card-radius-large {
  border-radius: 2em;
}
.MuiPaper-root.aura__card-radius-x-large {
  border-radius: 4em;
}
.MuiPaper-root.aura__card-transparent {
  background-color: $black-transparent;
}
