// shared class
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.center-align {
  align-items: center;
}

// theme
$white: #fff !default;
$black: #1b1b1b !default;
$pink: #f7776e !default;

$gray-100: #939393 !default;
$gray-200: #888 !default;

$blue-100: #00b1ff !default;
$blue-200: #0a95e2 !default;
$blue-300: #0579ab !default;
$blue-400: #186c96 !default;
$blue-400-transparent: #186c9666 !default;
$blue-500: #0b578b !default;
$blue-600: #0c4e80 !default;
$blue-700: #153261 !default;

$success: #55c125 !default;
$error: #de4453 !default;

$header-graident: linear-gradient(to right, $blue-700, $blue-200);
