.charts {
    height: 200px;
    width: calc(2.8/4 * 100%);
}

.chart__container {
    width: calc(.97/3 * 100%);
}

.calendar {
    height: 800px;
    width: calc(1/4 * 100%);
    background-color: rgb(189, 189, 189);
}
