.login {
  height: 100vh;
  background-image: url('../../assets/images/shutterstock_363952133.jpg');
  background-size: cover;
  padding: 0;
  .transparent__bg {
    background-color: $blue-400-transparent;
    height: 100%;
    display: flex;
  }
  .login__body {
    width: 35em;
    height: 40em;
    margin: 0 auto;
  }

  .login__form {
    width: 100%;
    position: relative;
    padding: 1em 1em 0 1em;
    .login__form__body {
      padding: 3em;
      box-sizing: border-box;
      width: 90%;
      height: 80%;
      position: absolute;
      bottom: -1em;
    }
    .MuiGrid-item {
      padding-left: 0;
      width: 100%;
    }
    .grid__item__divider {
      padding-left: 0;
    }
  }
  .logo__img {
    position: absolute;
    top: 1.5em;
    text-align: center;
  }
  .logo__img img {
    width: 12em;
  }
}
